#app-error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    width: 100vw;
    height: 100vh;
    color: chartreuse;
}

.col-left {
    text-align: left;
}

.col-center {
    text-align: center;
}

.col-right {
    text-align: right;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-right-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.center-left-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fit {
    width: 100%;
    height: 100%;
}

.fit-h {
    max-height: 100%;
    width: auto;
}

.fit-w {
    max-width: 100%;
    height: auto;
}

.auto-w {
    height: 100%;
    width: auto;
}