#app-error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    width: 100vw;
    height: 100vh;
    color: mediumpurple;
}

.col-left {
    text-align: left;
}

.col-center {
    text-align: center;
}

.col-right {
    text-align: right;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-right-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.center-left-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fit {
    width: 100%;
    height: 100%;
>>>>>>> 22d3369d220201e7482609665ec3ea5a7e8c3e88
}