#mini-play-display-center {
  position: relative;
  width: 8vw;
  height: 18vh;
  background-color: #141414;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 6px;
}

.mini-top-left {
  top: 5vh;
  left: 5vw;
}

.mini-top-right {
  top: 5vh;
  left: 87vw;
}

.mini-bot-left{
  top: 80vh;
  left: 5vw;
}

.mini-bot-right {
  top: 80vh;
  left: 87vw;
}

#mini-score-container-header {
  position: relative;
  width: 100%;
  height: 30%;
  padding: 3px 6px 6px 6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#mini-score-container-timer {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: #F9AE3B;
  position: relative;
  width: 100%;
  height: 30%;
  color: #000000;
  font-size: 1.0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mini-score-container-scores {
  position: relative;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.0vw;
}

#mini-score-container-red {
  height: 100%;
  width: 50%;
  display: flex;
  color: #ffffff;
  padding-right: 3px;
  padding-bottom: 6px;
}

#mini-score-container-blue {
  height: 100%;
  width: 50%;
  display: flex;
  color: #ffffff;
  padding-left: 3px;
  padding-bottom: 6px;
}

.red-bg {
  background-color: #CE2000;
  position: relative;
  width: 100%;
  height: 100%;
}

.blue-bg {
  background-color: #5C88FF;
  position: relative;
  width: 100%;
  height: 100%;
}

.left-score {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px 5px 5px 10px;
}

.right-score {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px 10px 5px 5px;
}

.bottom-details {
  position: relative;
  width: 100%;
  height: 35%;
  padding-bottom: 3px;
}