#app-container {

}

#app-top {
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app-top-name {
  font-weight: bold;
  font-size: 5vh;
}

#app-top-event {
  margin-top: 5%;
  font-size: 3.5vh;
}

#app-bottom {
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app-input {
  margin-top: 7.5vh;
  width: 50vw;
  height: 4vh;
  font-size: 2vh;
  border: none;
  background-color: #000000;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.app-input:focus {
  outline: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  border-bottom: 2px solid #0085ff;
}

.app-button {
  margin-top: 5vh;
  width: 50vw;
  height: 5vh;
  font-size: 2vh;
  border-radius: 10px;
  background-color: #0085ff;
  color: #ffffff;
  border: none;
}

.app-button:focus {
  outline: none;
}

.app-button:active {
  background-color: #0069cd;
}

#login-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #000000db;
  color: #ffffff;
}

#login-header {
  height: 17.5vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 3px solid #ffffff23;
  position: relative;
  font-size: 3vh;
}

#login-body {
  height: 82.5vh;
  padding: 10px;
  position: relative;
}

#login-body-status {
  width: 100%;
  text-align: center;
  font-size: 2vh;
}

#login-body-button-container {
  height: 60vh;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 5px;
}

.login-body-button-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-body-button {
  width: 50%;
  padding: 5px;
}

.status-bar-container {
  width: 100vw;
  height: 5vh;
  background-color: orange;
  color: #ffffff;
  font-size: 2vh;
  font-weight: bold;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.status-bar-container > div {
  width: 100%;
  height: 100%;
}

.mode-bar-container {
  width: 100vw;
  height: 5vh;
  color: #ffffff;
  font-size: 2vh;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mode-bar-container > div {
  width: 100%;
  max-width: 200px;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-bottom: 5px solid #ff8d00;
  padding-bottom: 5px;
}

.mode-bar-container > .selected {
  border-color: #e50000;
}

.state-switcher-container {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px 0 10px;
}

.state-switcher-team-container {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2vh;
  color: #000000;
}

.state-switcher-state-container {
  width: 75%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.state-switcher-state-container > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2vh;
  background-color: lightslategrey;
  border: 4px solid lightslategrey;
}

.state-switcher-state-container > div.selected {
  border: 4px solid green;
}

.alliance-view {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
}

.header-logo {
  width: 23%;
  max-width: 300px;
  height: auto;
}

.big-button {
  width: 50%;
  height: 25vh;
  margin: 5px;
  font-size: 6vw;
  border: none;
  color: #ffffff;
}

.wide {
  width: 100%;
}

.success {
  color: #3cff00;
}

.error {
  color: #f70000;
}

.red-btn {
  background-color: #f70000;
}

.red-btn:active {
  background-color: #f70000ce;
}

.red-btn:disabled {
  background-color: rgba(180, 0, 0, 0.81);
}

.blue-btn {
  background-color: #0702ff;
}

.blue-btn:active {
  background-color: #0702ffce;
}

.blue-btn:disabled {
  background-color: rgba(7, 2, 180, 0.81);
}

.yellow-btn {
  background-color: #e4e009;
}

.yellow-btn:active {
  background-color: #e4e009ce;
}

.yellow-btn:disabled {
  background-color: rgba(195, 191, 9, 0.81);
}

.red-bg {
  background-color: #ff0000;
}

.blue-bg {
  background-color: #0702ff;
}

.black-bg {
  background-color: #000000;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}