#app-container {

}

#app-top {
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app-top-name {
  font-weight: bold;
  font-size: 5vh;
}

#app-top-event {
  margin-top: 5%;
  font-size: 3.5vh;
}

#app-bottom {
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app-input {
  margin-top: 7.5vh;
  width: 50vw;
  height: 4vh;
  font-size: 2vh;
  border: none;
  background-color: #000000;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.app-input:focus {
  outline: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  border-bottom: 2px solid #0085ff;
}

.app-button {
  margin-top: 5vh;
  width: 50vw;
  height: 5vh;
  font-size: 2vh;
  border-radius: 10px;
  background-color: #0085ff;
  color: #ffffff;
  border: none;
}

.app-button:focus {
  outline: none;
}

.app-button:active {
  background-color: #0069cd;
}