# See https://help.github.com/ignore-files/ for more about ignoring files.

# match-maker
teams.txt

# intellij
.idea/

# vscode
.vscode/

# dependencies
node_modules/
napa_cache/

# testing
coverage/

# production
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# specialized files
*.db
*.db-journal
*.env
ems-core/match-maker/teams.txt
ems-api/bin/practice.json
ems-api/bin/qualification.json
ems-api/bin/post-quals.json
package-lock.json

# (temporarily) copyrighted files
field-interface/