#res-header-container {
    margin-top: 4vh;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
}
#res-header-left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 4.5rem;
    color: #FFFFFF;
    padding-left: 20px;
}
#res-header-right {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}
.res-header-item {
    height: 40%;
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    padding: 7px;
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 2.0rem;
}
#res-alliance-container {
    width: 100%;
    height: 76vh;
    display: flex;
    justify-content: center;
}
.res-alliance-card {
    width: 45%;
    height: 75vh;
    margin: 0 2.5% 0 2.5%;
}
.res-card-top {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.res-card-middle {
    height: 80% !important;
    width: 100%;
    padding: 7px;
    display: flex;
    flex-direction: column;
}
.res-card-bottom {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
    color: #ffffff;
}
.res-card-teams {
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.res-card-details {
    height: 65%;
    width: 100%;
    margin-top: 2vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.res-team-row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffffff;
}
.res-team-name {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}
.res-team-rank {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}
.res-team-flag {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}
.res-team-flag > span {
    width: 2.5vw;
    height: 1.875vw;
}
.res-detail-row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.res-detail-row:nth-child(even) {
    background-color: #e6e6e6;
}
.res-detail-row:nth-child(odd) {
    background-color: #ffffff;
}
.res-detail-left {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.res-detail-right {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.res-alliance-total-left {
    height: 100%;
    width: 40% !important;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.res-alliance-total-right {
    width: calc(25% + 4px) !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}
.res-alliance-total.right > span {
    width: 100%;
    text-align: center;
    padding-right: 7px;
}
.bottom-red {
    border-bottom: 2px solid rgb(118, 39, 45);
}
.right-red {
    border-right: 2px solid rgb(118, 39, 45);
}
.bottom-blue {
    border-bottom: 2px solid #2E3190;
}
.right-blue {
    border-right: 2px solid #2E3190;
}
.penalty {
    color: rgb(118, 39, 45);
}

@media only screen and (max-width: 1600px) {

}