#ir-pre-top {
  width: 100%;
  margin-top: 2.5vh;
  height: 10vh;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ir-pre-top > div {
  width: 100%;
  height: 100%;
}

#ir-pre-mid {
  width: 100%;
  margin-top: 5vh;
  height: 60vh;
  padding: 2.5vh 6px 6px 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5vw;
}

#ir-pre-mid-labels {
  width: 85%;
  height: 5vh;
}

.ir-pre-team {
  width: 10%;
  height: 100%;
  padding-left: 10px;
}

.ir-pre-name {
  width: 80%;
  height: 100%;
}

.ir-pre-rank {
  width: 10%;
  height: 100%;
  text-align: center;
}

.ir-pre-mid-alliance {
  width: 85%;
  min-height: 25vh;
}

.ir-pre-mid-alliance > div {
  height: 6vh;
  width: 100%;
  margin-bottom: 1.25vh;
}

#ir-pre-bot {
  position: relative;
  width: 100%;
  margin-top: 5vh;
  height: 15vh;
  padding: 6px;
}

#ir-pre-bot > .ir-bot-logo {
  position: absolute;
  width: 5vw;
  height: 100%;
}

#ir-pre-bot > .ir-bot-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  font-size: 2vw;
  font-weight: bold;
}

.blue-border {
  background-color: #5C88FF;
  border: 3px solid #000000;
  border-radius: 15px;
}

.red-border {
  background-color: #CE2000;
  border: 3px solid #000000;
  border-radius: 15px;
}