#fgc-sponsor-container {
  position: absolute;
  width: 75vw;
  height: 75vh;
  left: 12.5vw;
  top: 12.5vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px;
}

#fgc-sponsor-header {
    height: 15%;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
}

#fgc-sponsor-image {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}