.square-card {
  width: 100% !important;
  position: relative !important;
  padding-top: 70% !important;
}

.square-card-content {
  position: absolute !important;
  padding: 2px !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.config-card-image {
  width: 100%;
  height: 100%;
}

.center-items {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.center-left-items {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}

.align-center {
  display: flex !important;
  align-items: center;
}

.align-bottom {
  display: flex !important;
  align-items: flex-end !important;
}

.align-bottom > .field {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.success-text {
  color: #1aa62a;
}

.warn-text {
  color: #ffe623;
}

.error-text {
  color: #ff2733;
}

.red-bg {
    background-color: #ff2733 !important;
}

.red-bg > .content > .header, .red-bg > .content {
    color: #ffffff !important;
}

.blue-bg {
    background-color: #0069ff !important;
}

.blue-bg > .content > .header, .blue-bg > .content {
    color: #ffffff !important;
}

.no-margin {
    padding: 0 !important;
    margin: 0 !important;
}

.details, .details > .row > .column > .field > label, .details > .row > .column > .field > .checkbox > label {
    color: #ffffff !important;
}

.scorecard > .content {
  flex-grow: initial !important;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}