body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.view {
  height: calc(100vh - 50px - 30px);
  width: 100%;
  padding: 2px;
}

.step-view {
  width: 100%;
  height: calc(100% - 150px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2px;
}

.step-table-subview {
    width: 100%;
    max-height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px;
}

.step-table-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.step-view-tab {
    width: 100%;
    max-height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px;
}

.step-view-tab-table {

}

.tab-subview {
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
}

.card-header {
  max-height: 50px;
}

.ui.container {
  height: calc(100vh - 54px) !important;
  overflow: hidden;
}

.ui.section.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.selectable > tbody > tr {
    cursor: pointer;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .ui.container {
    width: 95%;
  }
  .ui.tiny.modal {
    top: 10% !important;
  }
  .ui.small.modal {
    top: 7.5% !important;
  }
  .tab-subview {
    max-height: 66vh;
  }
}

/* The following media queries are essentially for medium monitors. */
@media only screen and (min-width: 992px) {
  .ui.container {
    width: 90%;
  }
  .ui.tiny.modal {
    top: 15% !important;
  }
  .ui.small.modal {
    top: 12.5% !important;
  }
  .tab-subview {
    max-height: 70vh;
  }
}

/* The following media queries are essentially for large monitors. */
@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 90%;
  }
  .ui.tiny.modal {
    top: 22.5% !important;
  }
  .ui.small.modal {
    top: 18.5% !important;
  }
  .tab-subview {
    max-height: 75vh !important;
  }
}

/* The following media queries are essentially for HD monitors. */
@media only screen and (min-width: 1600px) {
  .ui.container {
    width: 85%;
  }
  .ui.tiny.modal {
    top: 25% !important;
  }
  .ui.small.modal {
    top: 20% !important;
  }
  .tab-subview {
    max-height: 80vh !important;
  }
}