body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.view {
  height: calc(100vh - 50px - 30px);
  width: 100%;
  padding: 2px;
}

.step-view {
  width: 100%;
  height: calc(100% - 150px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2px;
}

.step-view > div:only-child {
    height: 100%;
}

.step-table-subview {
    width: 100%;
    max-height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px;
}

.step-table-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.step-view-tab {
    width: 100%;
    max-height: calc(100% - 54px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px;
}

.step-view-tab-table {
    width: 100%;
    max-height: calc(100% - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px;
}

.step-view-inner-table {
    height: 68vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab-subview {
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
}

.card-header {
  max-height: 50px;
}

.no-overflow {
    overflow-x: hidden;
    overflow-y: hidden;
}

.ui.container {
  height: calc(100vh - 54px) !important;
  overflow: hidden;
}

.ui.section.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.selectable > tbody > tr {
    cursor: pointer;
}

.report-header {
    margin: 0;
    font-size: 38px;
}

.report-sub-header {
    margin: 0;
    font-size: 24px;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .ui.container {
    width: 95%;
  }
  .ui.tiny.modal {
    top: 10% !important;
  }
  .ui.small.modal {
    top: 7.5% !important;
  }
  .tab-subview {
    max-height: 66vh;
  }
}

/* The following media queries are essentially for medium monitors. */
@media only screen and (min-width: 992px) {
  .ui.container {
    width: 90%;
  }
  .ui.tiny.modal {
    top: 15% !important;
  }
  .ui.small.modal {
    top: 12.5% !important;
  }
  .tab-subview {
    max-height: 70vh;
  }
}

/* The following media queries are essentially for large monitors. */
@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 90%;
  }
  .ui.tiny.modal {
    top: 22.5% !important;
  }
  .ui.small.modal {
    top: 18.5% !important;
  }
  .tab-subview {
    max-height: 75vh !important;
  }
  .step-view-inner-table {
    height: 80vh;
  }
}

/* The following media queries are essentially for HD monitors. */
@media only screen and (min-width: 1600px) {
  .ui.container {
    width: 85%;
  }
  .ui.tiny.modal {
    top: 25% !important;
  }
  .ui.small.modal {
    top: 20% !important;
  }
  .tab-subview {
    max-height: 80vh !important;
  }
  .step-view-inner-table {
    height: 68vh;
  }
}

/* React datepicker out-of-the-box doesn't 100% work with our styles. The following classes fix that. */
@media only screen and (max-width: 1300px) {
    .react-datepicker {
        width: 293px;
    }
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container {
    width: 100%;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 90px !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    margin: 0 !important;
    width: 80px !important;
}

.react-datepicker__time-container {
    width: 80px !important;
}

.react-datepicker__time-list {
    padding: 0 !important;
}

.react-datepicker__time-list-item {
    padding-right: 0 !important;
}