#rr-body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("./res/rr_bg_1.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

#rr-container {
  height: 90vh;
  margin-top: 5vh;
  width: 90vw;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
}