.bg-container {
  position: relative;
  top: -27.1375vw;
  left: 6.25vw;
  width: 43.84375vw;
  height: 25.9625vw;
  display: grid;
  grid-template-columns: 8.93125vw 8.93125vw 8.93125vw 8.93125vw;
  grid-row-gap: 8.0625vw;
  grid-column-gap: 2.69375vw;
  grid-auto-columns: 8.93125vw;
  grid-auto-rows: 8.93125vw;
  z-index: 3;
}

.bg-img {
  position: relative;
  top: 0px;
  left: 3.15vw;
  max-width: 50vw;
}

@media (min-width: 801px) {
  .bg-container {
    top: -217.1px;
    left: 50px;
    width: 350.75px;
    height: 207.7px;
    grid-template-columns: 71.45px 71.45px 71.45px 71.45px;
    grid-row-gap: 64.5px;
    grid-column-gap: 21.55px;
    grid-auto-columns: 71.45px;
    grid-auto-rows: 71.45px;
  }

  .bg-img {
    left: 25.2px;
    max-width: 400px;
  }
}
