.db-counter {
	width: 10vw;
	height: 10vw;
	border: .375vw solid black;
	background: transparent;

	text-align: center;
	vertical-align: middle;
	line-height: 10vw;
	font-size: 7.5vw;
	font-weight: bold;

	margin-top: .625vw;
  margin-bottom: .625vw;
}

.db-counter-side {
	width: 10vw;
	height: 10vw;
	background: transparent;

	text-align: center;
	vertical-align: middle;
	line-height: 10vw;
	font-size: 7.5vw;
	font-weight: bold;
}

@media (min-width: 801px) {
	.db-counter {
		width: 80px;
		height: 80px;
		border: 3px solid black;
		line-height: 80px;
		font-size: 60px;

		margin-top: 5px;
	  margin-bottom: 5px;
	}

	.db-counter-side {
		width: 80px;
		height: 80px;

		line-height: 80px;
		font-size: 60px;
	}

}
