.p-container {
  position: relative;
  width: 13vw;
  height: 19.5vw;

  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 2vw;
}

.p-row-container {
  padding-left: 1.5vw;
  padding-top: 1.275vw;
  padding-bottom: 3.875vw;
  position: relative;
  /* width: 96.35vw; */
  height: 21vw;
  background-color: #cccccc;
  display: grid;
  grid-template-columns: 21vw 13vw 13vw auto;
  grid-column-gap: 2vw;
  border-top: .125vw solid black;
  border-bottom: .125vw solid black;
}

.p-penalties {
  margin-top: 6.5vw;
  font-size: 4vw;
  font-weight: bold;
}

@media (min-width: 801px) {
  .p-container {
    width: 104px;
    height: 156px;
    grid-row-gap: 16px;
  }

  .p-row-container {
    margin: auto;
    padding-left: 20px;
    padding-top: 11.2px;
    padding-bottom: 32px;
    /* width: 780px; */
    height: 168px;
    grid-template-columns: 168px 104px 104px 312px;
    grid-column-gap: 16px;
  }

  .p-penalties {
    margin-top: 52px;
    font-size: 32px;
    font-weight: bold;
  }
}

@media (max-width: 595px) {
  .p-row-container {
    /* width: 98.5%; */
  }
}
