.toggle-button-triple-0 {
	width: 13vw;
	height: 6.5vw;
	border-radius: .6vw;
	color: #cccccc;
	background-color: grey;
	font-size: 2.8vw;
	font-weight: bold;
	cursor: pointer;
	line-height: 6.5vw;
	vertical-align: middle;
}

.toggle-button-triple-1 {
	width: 13vw;
	height: 6.5vw;
	border-radius: .6vw;
	color: #cccccc;
	background-color: yellow;
	font-size: 2.8vw;
	font-weight: bold;
	cursor: pointer;
	line-height: 6.5vw;
	vertical-align: middle;
}

.toggle-button-triple-2 {
	width: 13vw;
	height: 6.5vw;
	border-radius: .6vw;
	color: #cccccc;
	background-color: red;
	font-size: 2.8vw;
	font-weight: bold;
	cursor: pointer;
	line-height: 6.5vw;
	vertical-align: middle;
}

@media (min-width: 801px) {
	.toggle-button-triple-0 {
		width: 104px;
		height: 52px;
		border-radius: 4.8px;
		font-size: 22.4px;
		line-height: 52px;
	}

	.toggle-button-triple-1 {
		width: 104px;
		height: 52px;
		border-radius: 4.8px;
		font-size: 22.4px;
		line-height: 52px;
	}

	.toggle-button-triple-2 {
		width: 104px;
		height: 52px;
		border-radius: 4.8px;
		font-size: 22.4px;
		line-height: 52px;
	}
}
