#toggle-button {
		width: 12.5vw;
  	height: 5vw;
    border-radius: .625vw;
    background-color: grey;
  	font-size: 2.5vw;
    cursor: pointer;
		line-height: 5vw;
		vertical-align: middle;
}

#toggle-button-small {
		width: 7.5vw;
  	height: 5vw;
    border-radius: .625vw;
    background-color: grey;
    color: white;
		line-height: 5vw;
		vertical-align: middle;
  	font-size: 1.375vw;
    cursor: pointer;
		z-index: 1;
}

@media (min-width: 801px) {
	#toggle-button {
			width: 100px;
	  	height: 40px;
	    border-radius: 5px;
	  	font-size: 20px;
			line-height: 40px;
	}

	#toggle-button-small {
			width: 60px;
	  	height: 40px;
	    border-radius: 5px;
	    background-color: grey;
			line-height: 40px;
	  	font-size: 11px;
	}

}
