.table-container {
  width: 39vw;
  height: 22vw;

  display: grid;
  grid-template-columns: auto auto auto;
}

.table-item {
  width: 13vw;
	height: 5.5vw;
	border: .2vw solid black;
	font-size: 3.75vw;
  line-height: 5.5vw;
  vertical-align: middle;
}

.table-header-team {
  width: 13vw;
	height: 5.5vw;
	border: .2vw solid black;
	font-size: 1.75vw;
  background-color: blue;
  line-height: 5.5vw;
  vertical-align: middle;
}

.table-header-redCard {
  width: 13vw;
	height: 5.5vw;
	border: .2vw solid black;
	font-size: 1.75vw;
  background-color: red;
  line-height: 5.5vw;
  vertical-align: middle;
}

.table-header-yellowCard {
  width: 13vw;
	height: 5.5vw;
	border: .2vw solid black;
	font-size: 1.75vw;
  background-color: yellow;
  line-height: 5.5vw;
  vertical-align: middle;
}

@media (min-width: 801px) {
  .table-container {
    width: 312px;
    height: 176px;
  }

  .table-item {
    width: 104px;
  	height: 44px;
  	border: 1.6px solid black;
  	font-size: 30px;
    line-height: 44px;
  }

  .table-header-team {
    width: 104px;
  	height: 44px;
  	border: 1.6px solid black;
  	font-size: 14px;
    line-height: 44px;
  }

  .table-header-redCard {
    width: 104px;
  	height: 44px;
  	border: 1.6px solid black;
  	font-size: 14px;
    line-height: 44px;
  }

  .table-header-yellowCard {
    width: 104px;
  	height: 44px;
  	border: 1.6px solid black;
  	font-size: 14px;
    line-height: 44px;
  }
}
