.up-button-arrow-blue {
		width: 0;
  	height: 0;
		border-left: 5vw solid transparent;
  	border-right: 5vw solid transparent;
	  border-bottom: 5vw solid blue;
}

.up-button-arrow-red {
		width: 0;
  	height: 0;
		border-left: 5vw solid transparent;
  	border-right: 5vw solid transparent;
	  border-bottom: 5vw solid red;
		z-index: 2;
}

@media (min-width: 801px) {
	.up-button-arrow-blue {
			border-left: 40px solid transparent;
	  	border-right: 40px solid transparent;
		  border-bottom: 40px solid blue;
	}

	.up-button-arrow-red {
			border-left: 40px solid transparent;
	  	border-right: 40px solid transparent;
		  border-bottom: 40px solid red;
			z-index: 2;
	}
}
