/* Kept blue and red just in case we want to switch back easily */

.up-button-arrow-blue {
		width: 0;
  	height: 0;
		border-left: 5vw solid transparent;
  	border-right: 5vw solid transparent;
	  border-bottom: 5vw solid white;
}

.up-button-arrow-red {
		width: 0;
  	height: 0;
		border-left: 5vw solid transparent;
  	border-right: 5vw solid transparent;
	  border-bottom: 5vw solid white;
		z-index: 2;
}

@media (min-width: 801px) {
	.up-button-arrow-blue {
			border-left: 40px solid transparent;
	  	border-right: 40px solid transparent;
		  border-bottom: 40px solid white;
	}

	.up-button-arrow-red {
			border-left: 40px solid transparent;
	  	border-right: 40px solid transparent;
		  border-bottom: 40px solid white;
			z-index: 2;
	}
}
