#rr-result-top {
  width: 100%;
  margin-top: 2.5vh;
  height: 10vh;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rr-result-top > div {
  width: 100%;
  height: 100%;
}

#rr-result-mid {
  width: 100%;
  margin-top: 5vh;
  height: 60vh;
  padding: 2.5vh 6px 6px 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5vw;
}

#rr-result-bot {
  width: 100%;
  margin-top: 5vh;
  height: 15vh;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rr-result-bot > div {
  width: 100%;
  height: 100%;
}

.blue-border {
  background-color: #5C88FF;
  border: 3px solid #000000;
  border-radius: 15px;
}

.red-border {
  background-color: #CE2000;
  border: 3px solid #000000;
  border-radius: 15px;
}